---
title: Photos
---
<!DOCTYPE html>
<html lang="en">
  {% include all_html_head_tag %}
  <body role="document">
    {% include all_fixed_navbar %}
    <div class="container theme-showcase" role="main">
      {% include all_emergency_alert %}

      <p>Photos!</p>
      <div id="masonryPhotos">
        {% for photo in site.data.photos_photos.members %}
          <div class="masonryImage">
            <img src="{{ site.data.photos_photos.prefix }}/{{ photo.name }}" alt="">
          </div>
        {% endfor %}
      </div>
      {% include all_footer %}
    </div>
    {% include all_bootstrap_core_js %}
    <script>
      $(function(){
        var $container = $('#masonryPhotos');
        $container.imagesLoaded( function(){
          $container.masonry({
            itemSelector : '.masonryImage',
            columnWidth : 300,
            gutterWidth : 10
          });
        });
      });
    </script>
  </body>
</html>
