---
title: Home
---
<!DOCTYPE html>
<html lang="en">
  {% include all_html_head_tag %}
  <body role="document">
    {% include all_fixed_navbar %}
    <div class="container theme-showcase" role="main">
      {% include all_emergency_alert %}

      <p>Salve!</p>
      <p>Welcome to Grupo Unção Capoeira located in Seattle, Washington!</p>
      <p>Our school offers classes in Capoeira: a Brazilian art form which emphasizes strength, balance, coordination, and self-defense. Our training also includes acrobatics, music, traditional dance and Portuguese language. All are welcome!</p>

      {% include homepage_carousel %}
      {% include all_footer %}
    </div>
    {% include all_bootstrap_core_js %}
  </body>
</html>
