body
{
    padding-top: 55px;
}

.carousel .item
{
    height: 500px;
}
.carousel img
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#masonryPhotos
{
    margin: 0 auto;
}
.masonryImage img
{
    width: 300px;
    margin-bottom: 10px;
}
