---
title: Classes
---
<!DOCTYPE html>
<html lang="en">
  {% include all_html_head_tag %}
  <body role="document">
    {% include all_fixed_navbar %}
    <div class="container theme-showcase" role="main">
      {% include all_emergency_alert %}

      <p>Classes are taught by Mestre Coquinho and take place at the address below. Stop in and try out a class!</p>
      <address class="text-center">
        <strong>Jazzercise Seattle Studio</strong><br>
        10303 Aurora Ave N.<br>
        Seattle, WA 98133
      </address>
      <h4><strong>Class Schedule</strong></h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Weekday</th>
            <th>Class Times</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday</td>
            <td>7:00p - 8:00p</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td />
          </tr>
          <tr>
            <td>Wednesday</td>
            <td />
          </tr>
          <tr>
            <td>Thursday</td>
            <td>7:00p - 8:00p</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>7:00p - 8:00p</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>11:00a - 12:00p</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td />
          </tr>
        </tbody>
      </table>

      {% include all_footer %}
    </div>
    {% include all_bootstrap_core_js %}
  </body>
</html>
