---
title: Classes
---
<!DOCTYPE html>
<html lang="en">
  {% include all_html_head_tag %}
  <body role="document">
    {% include all_fixed_navbar %}
    <div class="container theme-showcase" role="main">
      {% include all_emergency_alert %}

      <p>Classes are taught by Mestre Coquinho and take place at the following address:</p>
      <address class="text-center">
        <strong>Jazzercise Seattle Studio</strong><br>
        10303 Aurora Ave N.<br>
        Seattle, WA 98133
      </address>
      <h4><strong>Weekly Schedule</strong></h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th />
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>All Levels</td>
            <td />
            <td>7:00p - 8:00p</td>
            <td />
            <td />
            <td>8:00p - 9:00p</td>
            <td>7:00p - 8:00p</td>
            <td>11:00a - 12:00p</td>
          </tr>
        </tbody>
      </table>
      <p>Stop in to try out a class!</p>

      {% include all_footer %}
    </div>
    {% include all_bootstrap_core_js %}
  </body>
</html>
